*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',sans-serif;
    background-color: #f8f9fa;
    line-height:1.6;
}
 .container{
    max-width:1200px;
    margin:0 auto;
    padding:40px 20px;
    background-color:white;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    border-radius:10px;
    width:90%
 }
 header{
    text-align:center;
    margin-bottom:40px;
    background-color:#f0f0f0;
    color:white;
 }
 header h1{
    font-size:4.5rem;
    color: #007BFF;
 }
 header p{
    font-size:2.8rem;
    color:#0077cc;
    margin-bottom: 10px;

 }
 section{
    margin-bottom:60px 0;
    text-align: center;
 }
 #about img{
    width: 180px;
    border-radius:50%;
    margin-bottom:20px;
    object-fit:cover;
    height:180px;
 }
 h2{
    margin-bottom:30px;
    font-size: 4rem;
    color:#007BFF;
 }
 #about p{
    font-size:3.2rem;
    max-width: 1000px;
    margin:0 auto;
    line-height:1.8;
 }
 #skills ul{
    list-style-type: square;
    padding-left:60px;
    font-size: 3.2rem;
    text-align:center;
    margin:0 auto;
 }
 #skills ul li{
    margin:6px 0;
 }
 .project-card{
    background-color: #ffffff;
    max-width: 1000px;
    margin:0 auto;
    padding:25px;
    
 }
 #projects{
    margin:0 auto;
    padding:20px;
    max-width:1500px;
    text-align:center;
 }
 .project-card h3{
    font-size:2.4rem;
    color:#007BFF;
    margin-bottom:10px;
}
.project-card p{
    font-size:3rem;
    color:#444;
    line-height:1.8;
}
 .contact-info{
    margin-top:50px;
 }
 .contact-info p{
    margin: 20px 0;
    font-size: 30px;
 }
 #resume a{
    font-size:2.5rem;
    padding:10px 20px;
    background:10px 20px;
    background-color:#007BFF;
    color:white;
    border-radius:8px;
    display:inline-block;
    transition: 0.3s;
    text-decoration:none;
    margin-top:20px;
 }
#resume a:hover{
    text-decoration:underline;
 }
#contact p{
    font-size:2.2rem;
    margin:10px 0;
}
 .profile-placeholder{
    width:700px;
    height:100px;
    border:2px solid #ccc;
    background-color: #eee;
    color:#333;
    font-size: 2rem;
    display:flex;
    align-items:center;
    justify-content: center;
    margin:20px auto;
    font-weight:bold;
    border-radius: 10px;
}

.profile-img{
    width: 300px;
    height:200px;
    border:2px solid #333;
    display:block;
    margin:20px auto;
    object-fit: cover;
    background-color: #eee;
}
footer{
    width:100%;
    text-align:center;
    padding:20px;
    font-size:2.6rem;
    color:#333;
    background-color: #f0f0f0;
}
.portfolio-box{
    width:900px;
    height:900px;
    margin:30px auto;
    padding:30px;
    border:2px solid #007BFF;
    background-color: #1b0606;
    border-radius:20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    overflow-y: auto;
}